<div class="footer" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-around">
  <div fxLayout="column" class="footer-links">
    <h3>Liens utiles</h3>
    <ul>
      <li><a routerLink="/legal-information">Mentions légales</a></li>
      <li><a routerLink="/terms-conditions">Conditions d'utilisation</a></li>
      <li><a routerLink="/privacy-policy">Politique de protection des données personnelles</a></li>
      <li><a routerLink="/cookie">Paramètre des cookies</a></li>
    </ul>
  </div>

  <div class="networks" fxLayout="row" fxLayoutGap="10px">
    <a href=""><img src="../../assets/images/facebook-icon.png" alt="Facebook"></a>
    <a href=""><img src="../../assets/images/twitter-icon.png" alt="Twitter"></a>
    <a href=""><img src="../../assets/images/linkedin-icon.png" alt="LinkedIn"></a>
    <a href=""><img src="../../assets/images/mail-icon.png" alt="Mail"></a>
  </div>


</div>
<div class="copyright" fxLayout="row" fxLayoutAlign="center center">
  <p>©MBAT 2024</p>
</div>