<div class="container-fluid account-container" fxLayout="column" fxLayoutAlign="start center">
    <h2 class="info-title">Informations personnelles</h2>
    <!-- Card pour le prénom et le nom -->
    <mat-card class="account-card">
        <mat-card-header>
            <mat-card-title>Nom et Prénom</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="name-display">
                <span class="text-name">{{ currentLastName }} {{ currentFirstName }} </span>
                <button *ngIf="!showNameForm" mat-stroked-button class="btn-modify" (click)="toggleNameForm()">
                    <mat-icon>edit</mat-icon>
                    Modifier</button>
            </div>

            <!-- Formulaire de modification du prénom et nom -->
            <form *ngIf="showNameForm" [formGroup]="nameForm" (ngSubmit)="onNameSubmit()" fxLayout="column">
                <mat-form-field appearance="outline" class="form-field-width first-form-input">
                    <mat-label>Prénom</mat-label>
                    <mat-icon matPrefix class="icon-color">person</mat-icon>
                    <input matInput formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field appearance="outline" class="form-field-width form-input">
                    <mat-label>Nom</mat-label>
                    <mat-icon matPrefix class="icon-color">person</mat-icon>
                    <input matInput formControlName="lastName" required>
                </mat-form-field>
                <p class="description-text">Veuillez confirmer votre mot de passe pour changer vos informations.</p>
                <!-- Champ pour le mot de passe actuel -->
                <mat-form-field appearance="outline" class="form-field-width form-input">
                    <mat-label>Mot de passe actuel</mat-label>
                    <mat-icon matPrefix class="icon-color">lock</mat-icon>
                    <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                        {{ hideCurrentPassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"
                        required>
                </mat-form-field>

                <div fxLayout="row" class="bottom-buttons" fxLayoutAlign="start">
                    <button mat-raised-button class="btn-submit" type="submit">Mettre à jour</button>
                    <button mat-stroked-button color="warn" class="button-cancel"
                        (click)="toggleNameForm()">Annuler</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>


    <!-- Card pour l'adresse email -->
    <mat-card class="account-card">
        <mat-card-header>
            <mat-card-title>Adresse email</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="email-display">
                <div fxLayout="column">
                    <span>{{ getMaskedEmail() }}</span>
                    <!-- Afficher si le compte est vérifié ou non -->
                    <div class="verification-status">
                        <ng-container *ngIf="isVerified; else notVerified">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon matPrefix class="icon-color icon-verified">verified</mat-icon>
                                <p class="verified-text">Compte vérifié</p>
                            </div>
                        </ng-container>
                        <ng-template #notVerified>
                            <p style="color: red;">Compte non vérifié. À la prochaine connexion, vous devrez vérifier
                                votre
                                compte.</p>
                        </ng-template>
                    </div>
                </div>

                <button *ngIf="!showEmailForm" mat-stroked-button class="btn-modify" (click)="toggleEmailForm()">
                    <mat-icon>edit</mat-icon>
                    Modifier</button>
            </div>



            <!-- Formulaire de modification de l'email -->
            <form *ngIf="showEmailForm" [formGroup]="emailForm" (ngSubmit)="onEmailSubmit()" fxLayout="column">

                <!-- Note pour l'utilisateur -->
                <p class="note-text">
                    <u>Note</u>: En cas de changement d'adresse email, vous serez déconnecté. <br />
                    Vous devrez activer votre compte via le
                    lien reçu sur votre nouvelle adresse email avant de pouvoir vous reconnecter.
                </p>

                <mat-form-field appearance="outline" class="form-field-width first-form-input">
                    <mat-label>Nouvelle adresse email</mat-label>
                    <mat-icon matPrefix class="icon-color">alternate_email</mat-icon>
                    <input matInput formControlName="email" type="email" email required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field-width form-input">
                    <mat-label>Confirmation de l'Email</mat-label>
                    <input matInput formControlName="confirmation_email" type="email" id="confirmation_email" email
                        required onpaste="return false;" oncopy="return false;" oncut="return false;">
                    <mat-icon matPrefix class="icon-color">alternate_email</mat-icon>
                </mat-form-field>


                <p class="description-text">Veuillez confirmer votre mot de passe pour changer votre adresse email.</p>
                <!-- Champ pour le mot de passe actuel -->
                <mat-form-field appearance="outline" class="form-field-width form-input">
                    <mat-label>Mot de passe actuel</mat-label>
                    <mat-icon matPrefix class="icon-color">lock</mat-icon>
                    <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                        {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"
                        required>
                </mat-form-field>

                <div fxLayout="row" class="bottom-buttons" fxLayoutAlign="start">
                    <button mat-raised-button class="btn-submit" type="submit">Mettre à jour</button>
                    <button mat-stroked-button color="warn" class="button-cancel"
                        (click)="toggleEmailForm()">Annuler</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <!-- Card pour le numéro de téléphone -->
    <mat-card class="account-card">
        <mat-card-header>
            <mat-card-title>Numéro de téléphone</mat-card-title>
            <mat-card-subtitle>
                Utilisez votre numéro de téléphone comme identifiant pour vous connecter à votre compte. Vous
                pouvez également activer les alertes relatives à la sécurité.
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="phone-display">
                <div fxLayout="column">
                    <span>{{ getMaskedPhone() }}</span>
                </div>

                <button *ngIf="!showPhoneForm" mat-stroked-button class="btn-modify" (click)="togglePhoneForm()">
                    <mat-icon>edit</mat-icon>
                    Modifier
                </button>
            </div>


            <!-- Formulaire de modification du téléphone -->
            <form *ngIf="showPhoneForm" [formGroup]="phoneForm" (ngSubmit)="onPhoneSubmit()" fxLayout="column">
                <mat-form-field appearance="outline" class="form-field-width first-form-input">
                    <mat-label>Nouveau numéro de téléphone</mat-label>
                    <mat-icon matPrefix class="icon-color">phone</mat-icon>
                    <input matInput formControlName="phone" type="tel" required>
                </mat-form-field>

                <p class="description-text">Veuillez confirmer votre mot de passe pour changer votre numéro de
                    téléphone.</p>
                <!-- Champ pour le mot de passe actuel -->
                <mat-form-field appearance="outline" class="form-field-width form-input">
                    <mat-label>Mot de passe actuel</mat-label>
                    <mat-icon matPrefix class="icon-color">lock</mat-icon>
                    <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
                        {{hideCurrentPassword ? 'visibility_off' : 'visibility'}}
                    </mat-icon>
                    <input matInput [type]="hideCurrentPassword ? 'password' : 'text'" formControlName="currentPassword"
                        required>
                </mat-form-field>

                <div fxLayout="row" class="bottom-buttons" fxLayoutAlign="start">
                    <button mat-raised-button class="btn-submit" type="submit">Mettre à jour</button>
                    <button mat-stroked-button color="warn" class="button-cancel"
                        (click)="togglePhoneForm()">Annuler</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>


    <!-- Bouton pour supprimer le compte -->
    <div class="delete-account-container" fxLayout="column" fxLayoutAlign="center center">
        <button mat-flat-button color="warn" (click)="onDeleteAccount()">Supprimer mon compte</button>
    </div>
</div>