.info-title {
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-primary-light);
}
.account-container {
    width: 100%;
    padding: 2% 10%;
    background-color: #f0f0f0;

    .account-card {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        overflow: hidden;

        mat-card-header {
            background-color: var(--color-primary); // Couleur sombre pour le header
            color: var(--color-primary-contrast); // Couleur du texte en blanc
            padding: 16px;
            display: flex;
            flex-direction: column; // Pour que le texte soit empilé sous le titre
            justify-content: center;
            min-height: 80px; // Fixe une hauteur uniforme
            text-align: left;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        mat-card-title {
            font-weight: 600;
            font-size: 16px;
        }

        mat-card-subtitle {
            font-size: 12px;
            color: var(--color-primary-contrast); // Couleur du texte de sous-titre en blanc
        }

        mat-card-content {
            background-color: #ffffff; // Couleur claire pour le contenu
            padding: 16px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

}

.form-field-width {
    width: 100%;
    max-width: 700px;
}

.note-text {
    font-size: 14px;
    color: var(--color-secondary); // Couleur rouge-orangé pour attirer l'attention
    margin: 10px 0px; // Espacement sous la note
}


.email-display span,
.phone-display span {
    font-weight: 500;
}

.delete-account-container {

    button {
        width: 250px;
        background-color: var(--color-danger-shade);
        color: var(--color-primary-contrast);
    }

    button:hover {
        background-color: var(--color-danger);
    }
}

.button-cancel {
    margin-left: 10px;
}

.bottom-buttons {
    margin-top: 10px;
}

.btn-submit {
    background-color: var(--color-secondary);
    color: var(--color-primary-contrast);
}

.btn-submit:hover {
    background-color: var(--color-primary);
}

.btn-modify {
    color: var(--color-secondary);
    border-color: var(--color-secondary);

    &:hover {
        color: var(--color-primary);
        border-color: var(--color-primary);
    }
}

.first-form-input {
    padding: 10px 0px;
}

.verified-text {
    padding: 0;
    margin: 0;
}

.icon-verified {
    color: var(--color-success);
    margin-right: 5px;
}

.description-text {
    margin: 10px 0; // Espace au-dessus et en dessous
    font-size: 14px;
    color: var(--color-primary);
}

