@media screen and (max-width: 640px) {
  .form-reset {
    width: 350px;
  }
}

@media screen and (min-width: 640px) {
  .form-reset {
    width: 450px;
  }
}

.form-reset {
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

h3 {
  font-weight: 500;
}

.btn {
  background-color: var(--color-secondary);
  margin: 20px;
  width: 250px;
  height: 40px;
  color: var(--color-primary-contrast);
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary);
}

.icon-color {
  color: var(--color-primary);
}

mat-form-field {
  width: 100%;
  margin: 20px 20px 00px 20px;
}

.form-control {
  border: 0;
  box-shadow: none;
  /* You may want to include this as bootstrap applies these styles too */
}