<app-loader [isLoading]="isLoading"></app-loader> <!-- Ajouter le loader ici -->
<app-alert></app-alert>
<div class="page-reset" fxLayout="column" fxLayoutAlign="center center">
    <div class="form-reset" fxLayout="column" fxLayoutAlign="center center">
        <h3 *ngIf="!isResetFormVisible">Demande de réinitialisation de mot de passe</h3>
        <h3 *ngIf="isResetFormVisible">Réinitialisation du mot de passe</h3>
        <div id="form" class="body-form-reset">
            <form class="reinitialisation-mdp-form" fxLayout="column" [formGroup]="formReset"
                (ngSubmit)="submitFormulaireReinitialisationMdp()">
                <div fxLayout="column" fxLayoutAlign="none center">
                    <mat-form-field appearance="outline">
                        <mat-label *ngIf="!isResetFormVisible">Email</mat-label>
                        <mat-label *ngIf="isResetFormVisible">Nouveau mot de passe</mat-label>
                        <input matInput formControlName="email" *ngIf="!isResetFormVisible" type="email"
                            class="form-control" [ngClass]="{ 'is-invalid': formReset.errors }">
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                            *ngIf="isResetFormVisible" class="form-control" minlength="6"
                            [ngClass]="{ 'is-invalid': formReset.errors }">
                        <mat-icon matPrefix class="icon-color" *ngIf="!isResetFormVisible">email</mat-icon>
                        <mat-icon matPrefix class="icon-color" *ngIf="isResetFormVisible">lock</mat-icon>
                        <mat-icon matSuffix *ngIf="isResetFormVisible" (click)="hidePassword = !hidePassword">
                            {{hidePassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>

                </div>
                <div fxLayout="column" fxLayoutAlign="none center">
                    <button mat-stroked-button type="submit" class="btn">
                        <span *ngIf="!isResetFormVisible">Envoyer le lien</span>
                        <span *ngIf="isResetFormVisible">Réinitialiser le mot de passe</span>
                    </button>
                </div>
            </form>
            <div fxLayout="column">
            </div>
        </div>
    </div>
</div>