<app-loader [isLoading]="isLoading"></app-loader> <!-- Ajouter le loader ici -->
<app-alert></app-alert>
<div class="page-reset" fxLayout="column" fxLayoutAlign="center center">
    <div class="form-reset" fxLayout="column" fxLayoutAlign="center center">
        <h3 *ngIf="!isResetFormVisible">Demande de réinitialisation de mot de passe</h3>
        <h3 *ngIf="isResetFormVisible">Réinitialisation du mot de passe</h3>
        <p *ngIf="!isResetFormVisible" class="text-center">Nous enverrons un lien de modification du mot de passe à
            cette adresse e-mail si un compte existant correspond.</p>
        <div id="form" class="body-form-reset">
            <form class="reinitialisation-mdp-form" fxLayout="column" [formGroup]="formReset"
                (ngSubmit)="submitFormulaireReinitialisationMdp()">
                <div fxLayout="column" fxLayoutAlign="none center">

                    <mat-form-field *ngIf="!isResetFormVisible" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" class="form-control"
                            [ngClass]="{ 'is-invalid': formReset.errors }">
                        <mat-icon matPrefix class="icon-color">email</mat-icon>
                    </mat-form-field>

                    <mat-form-field appearance="outline" *ngIf="isResetFormVisible">
                        <mat-label>Nouveau mot de passe</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                            class="form-control" minlength="6" [ngClass]="{ 'is-invalid': formReset.errors }">
                        <mat-icon matPrefix class="icon-color">lock</mat-icon>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                            {{hidePassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                        <mat-hint>Doit contenir au minimum 6 caractères, dont 1 minuscule et 1 majuscule.</mat-hint>

                    </mat-form-field>

                    <mat-form-field appearance="outline" *ngIf="isResetFormVisible">
                        <mat-label>Confirmation du mot de passe</mat-label>
                        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="confirmPassword"
                            class="form-control" [ngClass]="{ 'is-invalid': formReset.errors }">
                        <mat-icon matPrefix class="icon-color">lock</mat-icon>
                        <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                            {{hidePassword ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>

                </div>
                <div fxLayout="column" fxLayoutAlign="none center">
                    <button mat-stroked-button type="submit" class="btn">
                        <span *ngIf="!isResetFormVisible">Envoyer le lien</span>
                        <span *ngIf="isResetFormVisible">Réinitialiser le mot de passe</span>
                    </button>
                </div>
            </form>
            <div fxLayout="column">
            </div>
        </div>
    </div>
</div>