<mat-card class="confirmation-card">
  <mat-card-header class="confirmation-header">
    <mat-card-title>{{ data.title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ data.message }}</p>

    <!-- Champ de mot de passe affiché seulement si "requirePassword" est true -->
    <form [formGroup]="passwordForm">
      <mat-form-field *ngIf="data.requirePassword" appearance="outline" class="form-field-width">
        <mat-label>Mot de passe</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput type="password" formControlName="password" required>
      </mat-form-field>

      <!-- Champ de réponse à la question secrète affiché seulement si "requireSecretAnswer" est true -->
      <mat-form-field *ngIf="data.requireSecretAnswer" appearance="outline" class="form-field-width">
        <mat-label>{{ data.secretQuestion }}</mat-label>
        <input matInput type="text" formControlName="secretAnswer" required>
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions fxLayout="row" class="bottom-buttons" fxLayoutAlign="start">
    <button mat-raised-button color="warn" (click)="onConfirm()"
      [disabled]="data.requirePassword && passwordForm.invalid || data.requireSecretAnswer && passwordForm.invalid" class="btn-confirm">Confirmer</button>
    <button mat-stroked-button color="warn" class="btn-cancel" (click)="onCancel()">Annuler</button>
  </mat-card-actions>
</mat-card>
