<div class="register-student-container" fxLayout="column">
  <div class="register-title">
    <h1>Création d'un compte</h1>
    <div class="separator"></div>
  </div>

  <div class="register-header" fxLayout="row" fxLayoutAlign="space-evenly center">
    <img class="register-img" src="../../../../assets/images/20943631.jpg" alt="Register form">
    <div class="header-content" fxLayout="column">
      <p>Inscrivez-vous en quelques clics et profitez de l'application.</p>
      <ol>
        <li>Remplissez le formulaire ci-dessous pour créer votre compte.</li>
        <li>Gérez votre suivi bancaire !</li>
      </ol>
      <p>Des questions ? Consultez notre <a class="register-link" routerLink="/toolbox/faq">FAQ</a> ou posez nous
        directement vos questions via
        notre formulaire de <a class="register-link" routerLink="toolbox/contact">contact</a></p>
      <p class="required-field">Les champs marqués d'un astérisque (*) sont obligatoires et doivent donc être remplis.
      </p>
    </div>
  </div>

  <div class="container-form" fxLayoutAlign="center none">
    <div class="register-form" fxLayout="column" fxLayoutAlign="center center">
      <app-signup-form></app-signup-form>
    </div>

  </div>



</div>