:root {
  /** primary **/
  --color-primary: #007461;
  --color-primary-constrast: #fff;
  --color-primary-lighter: #088F78;
  --color-primary-light: #299986;
  --color-primary-darker: #00473B;
  --color-primary-dark: #002C23;
  --color-primary-filter: invert(29%) sepia(99%) saturate(763%) hue-rotate(133deg) brightness(89%) contrast(101%);
  --color-primary-filter-contrast: invert(100%) sepia(2%) saturate(7500%) hue-rotate(310deg) brightness(113%) contrast(101%);

  /** secondary **/
  --color-secondary: #004652;
  --color-secondary-constrast: #fff;
  --color-secondary-lighter: #005C6D;
  --color-secondary-light: #007389;
  --color-secondary-darker: #002C34;
  --color-secondary-dark: #000809;
  --color-secondary-filter: invert(18%) sepia(77%) saturate(1174%) hue-rotate(155deg) brightness(95%) contrast(101%);

  /** tertiary **/
  --color-tertiary: #209A00;
  --color-tertiary-contrast: #000;
  --color-tertiary-lighter: #30BE0B;
  --color-tertiary-light: #55CC36;
  --color-tertiary-darker: #1A7D00;
  --color-tertiary-dark: #135900;
  --color-tertiary-filter: invert(61%) sepia(14%) saturate(588%) hue-rotate(29deg) brightness(91%) contrast(87%);

  /** success **/
  --color-success: #4eb76e;
  --color-success-contrast: #ffffff;
  --color-success-tint: #28e070;
  --color-success-shade: #0ec254;

  /** warning **/
  --color-warning: #F4984F; // #ffce00;
  --color-warning-contrast: #ffffff;
  --color-warning-shade: #e0b500;
  --color-warning-tint: #ffd31a;

  /** danger **/
  --color-danger: #f04141;
  --color-danger-contrast: #ffffff;
  --color-danger-shade: #d33939;
  --color-danger-tint: #f25454;

  /** dark **/
  --color-dark: #252427;
  --color-dark-contrast: #ffffff;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;

  /** medium **/
  --color-medium: #989aa2;
  --color-medium-contrast: #ffffff;
  --color-medium-shade: #86888f;
  --color-medium-tint: #a2a4ab;

  /** light **/
  --color-light: #c0c9ff;
  --color-light-contrast: #000000;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;

  --box-shadow: 0 3px 7px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --box-shadow-hover: 2px 5px 10px rgba(247, 77, 61, 0.275), 2px 8px 8px rgba(0, 0, 0, 0.23);
}
