.toolbar {
    background-color: var(--color-primary-contrast);
    color: var(--color-primary);
    top: 0;
    border-bottom: 1px solid var(--color-light-shade);
    z-index: 20;
}

.auth-button {
    margin: 5px;
    height: 40px;
    font-size: 16px;
    color: var(--color-primary-contrast) !important;
    border-color: var(--color-secondary);
    background-color: var(--color-secondary);

    .material-icons {
    font-size: 30px;
        height: 30px;
        width: 30px;
        margin-right: 6px;
    }

    &:hover {
    background-color: var(--color-primary);
    }
}

.logout-button {
    margin: 5px;
    height: 40px;
    font-size: 16px;
    color: var(--color-primary-contrast) !important;
    border-color: var(--color-danger);
    background-color: var(--color-danger-shade);

    .material-icons {
    font-size: 30px;
        height: 30px;
        width: 30px;
        margin-right: 6px;
    }

    &:hover {
    background-color: var(--color-danger);
    }
}

.icon-arrow {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.month-list {
    display: flex;
    align-items: center;

    ::ng-deep .mat-mdc-list-item-unscoped-content {
        display: flex !important;
    }
}

.item {
    padding: 10px;
    display: flex;
    align-items: center;
    color: var(--color-primary);

    .icon {
        margin-right: 5px;
    }

    &:hover {
        color: var(--color-secondary)
    }

}

.active span, .active mat-icon {
    color: var(--color-tertiary);
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    user-select: none;
}


.menu-button {
    transition: 300ms ease-in-out;
    transform: rotate(0deg);
}

.menu-button.rotated {
    transform: rotate(180deg);
}

.submenu {
    overflow-y: hidden;
    transition: transform 300ms ease;
    transform: scaleY(0);
    transform-origin: top;
    padding-left: 30px;

    .item {
        padding: 0;
    }
}

.submenu.expanded {
    transform: scaleY(1);
}

h1.app-name {
    margin: 0px;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    min-height: 500px !important;
}

.is-mobile .sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}


.form-control {
    border: 0;
    box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
     }