.info-title {
    width: 100%;
    font-weight: 600;
    font-size: 22px;
    color: var(--color-primary-light);
}

.account-container {
    width: 100%;
    padding: 2% 10%;
    background-color: #f0f0f0;

    .account-card {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        overflow: hidden;

        mat-card-header {
            background-color: var(--color-primary); // Couleur sombre pour le header
            color: var(--color-primary-contrast); // Couleur du texte en blanc
            padding: 16px;
            display: flex;
            flex-direction: column; // Pour que le texte soit empilé sous le titre
            justify-content: center;
            min-height: 80px; // Fixe une hauteur uniforme
            text-align: left;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        mat-card-title {
            font-weight: 600;
            font-size: 16px;
        }

        mat-card-subtitle {
            font-size: 12px;
            color: var(--color-primary-contrast); // Couleur du texte de sous-titre en blanc
        }

        mat-card-content {
            background-color: #ffffff; // Couleur claire pour le contenu
            padding: 16px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

}

.form-field-width {
    width: 100%;
    max-width: 700px;
}


.password-display span {
    font-weight: 500;
}


.large-input {
    margin: 0 auto;
    display: block;
}

.first-form-input {
    padding: 10px 0px;
}


.full-width-form {
    width: 100%;
    /* Le form prend toute la largeur disponible */
    display: flex;
    align-items: center;
}

.input-container {
    margin-top: 10px;
    width: 100%;
}

.radio-container {
    margin: 20px 0;
    width: 100%;
}

.radio-container mat-radio-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-cancel {
    margin-left: 10px;
}

.bottom-buttons,
.bottom-input {
    margin-top: 10px;
}

.btn-submit {
    background-color: var(--color-secondary) !important;
    color: var(--color-primary-contrast) !important;
}

.btn-submit:hover {
    background-color: var(--color-primary);
}

.btn-submit:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    /* Couleur grisée */
    color: rgba(0, 0, 0, 0.26);
    /* Couleur du texte grisée */
    cursor: not-allowed;
    /* Changer le curseur pour indiquer qu'il est désactivé */
}


.btn-modify {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
    white-space: nowrap;
    padding: 0 16px;
}

.btn-modify:hover {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.form-buttons {
    margin-top: 20px;
}

.qr-code-image {
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

.btn-send-code {
    min-width: 150px !important;
    height: 56px;
    margin-left: 10px;
    background-color: var(--color-secondary) !important;
    color: var(--color-primary-contrast) !important;
}

.btn-send-code:hover {
    background-color: var(--color-primary);
}


.mat-card-content {
    padding: 0 !important;
}

.radio-card-group {
    width: 100%;
}

.radio-card {
    padding: 10px;
    text-align: center;
    flex: 1;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid var(--color-secondary);
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: var(--color-secondary);
}

.radio-card:hover,
.radio-card.active {
    background-color: var(--color-primary);
    color: white !important;
}

.radio-card:hover span.radio-text,
.radio-card.active span.radio-text {
    color: white !important;
}

/* Cibler les boutons radio dans tout l'application avec ::ng-deep */
::ng-deep .mat-radio-outer-circle {
    border-color: var(--color-primary) !important;
    /* Bordure du cercle externe, couleur de l'application */
}

::ng-deep .mat-radio-inner-circle {
    background-color: var(--color-primary) !important;
    /* Cercle interne rempli, couleur de l'application */
}

/* Quand le bouton radio est sélectionné */
::ng-deep .mat-radio-checked .mat-radio-outer-circle {
    border-color: var(--color-success) !important;
    /* Bordure externe lorsque sélectionné */
}

::ng-deep .mat-radio-checked .mat-radio-inner-circle {
    background-color: var(--color-success) !important;
    /* Cercle interne lorsque sélectionné */
}

/* Survol du bouton radio */
::ng-deep .mat-radio-button:hover .mat-radio-outer-circle {
    border-color: white !important;
    /* Change la bordure à blanc lors du survol */
}

::ng-deep .mat-radio-button:hover .mat-radio-inner-circle {
    background-color: white !important;
    /* Change le cercle interne à blanc lors du survol */
}


.verified-text {
    padding: 0;
    margin: 0;
}

.icon-verified {
    color: var(--color-success);
    margin-right: 5px;
}


.icon-not-verified {
    color: var(--color-danger);
    margin-right: 5px;
}

.password-strength-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
    max-width: 700px;
    width: 100%;
}

.password-strength-bar {
    width: 100%;
    height: 6px;
    background-color: #e0e0e0;
    border-radius: 5px;
    position: relative;
    margin-bottom: 5px; // Ajoute un espace entre la barre et le texte en dessous
}

.password-strength-bar .strength {
    height: 100%;
    border-radius: 5px;
    transition: width 0.3s ease;
}

// Texte de force de mot de passe
.password-strength-text {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    color: #333; // Couleur du texte, à adapter selon votre thème
}

// Couleurs et largeurs en fonction du niveau de force
.strength.weak {
    background-color: #ff4d4d;
    width: 20%;
}

.strength.fair {
    background-color: #ff944d;
    width: 40%;
}

.strength.good {
    background-color: #ffd24d;
    width: 60%;
}

.strength.strong {
    background-color: #a6ff4d;
    width: 80%;
}

.strength.very-strong {
    background-color: #4dff4d;
    width: 100%;
}