<div class="container alert text-center">
    <div *ngIf="message" [ngClass]="{
             'alert': message,
             'alert-success': message.type === 'success',
             'alert-danger': message.type === 'error' }">
        
        <!-- Affichage du message avec des sauts de ligne -->
        <p [innerHTML]="message.text"></p>

        <!-- Affichage du bouton de renvoi d'email seulement si l'email est présent -->
        <div *ngIf="message.email">
            <button (click)="resendUnlockEmail()" class="btn btn-primary">
                Renvoyer un mail de déverrouillage
            </button>
        </div>
    </div>
</div>
