.register-container {
  width: 100%;
  max-width: 600px;
  min-height: 500px;
  padding: 2% 10%;
  background-color: #fff;
  border-radius: 10px;
}

.register-card {
  width: 100%;
  margin-bottom: 20px;
}

.full-width-form {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-field-width {
  width: 100%;
  margin-bottom: 15px;
}

.large-input {
  display: block;
}

.form-buttons {
  margin-top: 20px;
}

.password-strength-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -10px;
  width: 100%;
}

.password-strength-bar {
  width: 100%;
  height: 6px;
  background-color: #e0e0e0;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
}

.password-strength-bar .strength {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease;
}

.password-strength-text {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  color: #333; // Couleur du texte, à adapter selon votre thème
}

.strength.weak {
  background-color: #ff4d4d;
  width: 20%;
}

.strength.fair {
  background-color: #ff944d;
  width: 40%;
}

.strength.good {
  background-color: #ffd24d;
  width: 60%;
}

.strength.strong {
  background-color: #a6ff4d;
  width: 80%;
}

.strength.very-strong {
  background-color: #4dff4d;
  width: 100%;
}

.btn-modify {
  color: var(--color-secondary);
  border-color: var(--color-secondary);
  white-space: nowrap;
  padding: 0 16px;
}

.btn-modify:hover {
  color: var(--color-primary);
  border-color: var(--color-primary);
}


h2 {
  color: var(--color-primary);
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
}

.info-icon {
  color: var(--color-primary);
  cursor: pointer;
}


.conditions-header {
  text-align: center;
  margin-bottom: 20px;
}

.conditions-header h3 {
  font-weight: 600;
  font-size: 1.5em;
  color: var(--color-primary);
}

.conditions-header p {
  font-size: 1em;
  color: #666;
}

.conditions-content {
  margin-top: 20px;

  .condition-checkbox {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    color: #333;
    font-size: 0.9em;
    line-height: 1.4;
  }

  a {
    color: var(--color-primary);
    text-decoration: underline;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.additional-info {
  margin-top: 20px;
  font-size: 0.85em;
  color: #555;
  text-align: left;

  p {
    margin: 0;
    line-height: 1.5;
  }
}

.btn-submit {
  width: 100%;
  background-color: var(--color-secondary) !important;
  color: var(--color-primary-contrast) !important;
  padding: 8px 20px;
  margin-bottom: 10px;
}

.btn-submit:disabled {
  background-color: rgba(0, 0, 0, 0.12) !important;
  /* Couleur grisée */
  color: rgba(0, 0, 0, 0.26) !important;
  /* Couleur du texte grisée */
  cursor: not-allowed;
  /* Changer le curseur pour indiquer qu'il est désactivé */
}

.btn-submit:hover {
  background-color: var(--color-primary);
}

.step-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.step-dot {
  width: 5px;
  height: 5px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.step-dot.active {
  background-color: var(--color-primary); /* Utilisez la couleur de votre thème */
  width: 8px;
  height: 8px;
}

.step-header {
  font-size: 1.4em;
  font-weight: bold;
  color: var(--color-primary);
  /* Couleur principale de votre thème */
  text-align: center;
  margin-bottom: 20px;
}
