:root {
    --color-primary: #4CAF50;
    /* Pin bleu */
    --color-primary-contrast: #FFFFFF;
    --color-primary-lighter: #66BB6A;
    --color-primary-light: #81C784;
    --color-primary-darker: #388E3C;
    --color-primary-dark: #2E7D32;

    --color-secondary: #2196F3;
    /* Herbe nouvelle */
    --color-secondary-contrast: #FFFFFF;
    --color-secondary-lighter: #42A5F5;
    --color-secondary-light: #64B5F6;
    --color-secondary-darker: #1976D2;
    --color-secondary-dark: #1565C0;

    --color-tertiary: #00BCD4;
    /* Reflet */
    --color-tertiary-contrast: #FFFFFF;
    --color-tertiary-lighter: #26C6DA;
    --color-tertiary-light: #4DD0E1;
    --color-tertiary-darker: #0097A7;
    --color-tertiary-dark: #00838F;

    /** success **/
    --color-success: #4eb76e;
    --color-success-contrast: #ffffff;
    --color-success-tint: #28e070;
    --color-success-shade: #0ec254;

    /** warning **/
    --color-warning: #F4984F; // #ffce00;
    --color-warning-contrast: #ffffff;
    --color-warning-shade: #e0b500;
    --color-warning-tint: #ffd31a;

    /** danger **/
    --color-danger: #f04141;
    --color-danger-contrast: #ffffff;
    --color-danger-shade: #d33939;
    --color-danger-tint: #f25454;

    /** dark **/
    --color-dark: #252427;
    --color-dark-contrast: #ffffff;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #383a3e;

    /** medium **/
    --color-medium: #989aa2;
    --color-medium-contrast: #ffffff;
    --color-medium-shade: #86888f;
    --color-medium-tint: #a2a4ab;

    /** light **/
    --color-light: #c0c9ff;
    --color-light-contrast: #000000;
    --color-light-shade: #d7d8da;
    --color-light-tint: #f5f6f9;

    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
    --box-shadow-hover: 0 5px 15px rgba(0, 0, 0, 0.30);
}