:root {
  --color-primary: #CC6C7B;
  /* Pétale encore plus foncé */
  --color-primary-contrast: #FFFFFF;
  --color-primary-lighter: #D98B97;
  --color-primary-light: #E5AAB2;
  --color-primary-darker: #B35562;
  --color-primary-dark: #993D4A;

  --color-secondary: #C14463;
  /* Coquelicot encore plus foncé */
  --color-secondary-contrast: #FFFFFF;
  --color-secondary-lighter: #D0627B;
  --color-secondary-light: #E08F9E;
  --color-secondary-darker: #A93754;
  --color-secondary-dark: #8F2C46;


  --color-tertiary: #A49393;
  /* Gris taupe doux */
  --color-tertiary-contrast: #FFFFFF;
  --color-tertiary-lighter: #BCA5A5;
  --color-tertiary-light: #D1BFBF;
  --color-tertiary-darker: #8D7E7E;
  --color-tertiary-dark: #7A6D6D;

  /** success **/
  --color-success: #4eb76e;
  --color-success-contrast: #ffffff;
  --color-success-tint: #28e070;
  --color-success-shade: #0ec254;

  /** warning **/
  --color-warning: #F4984F;
  --color-warning-contrast: #ffffff;
  --color-warning-shade: #e0b500;
  --color-warning-tint: #ffd31a;

  /** danger **/
  --color-danger: #f04141;
  --color-danger-contrast: #ffffff;
  --color-danger-shade: #d33939;
  --color-danger-tint: #f25454;

  /** dark **/
  --color-dark: #252427;
  --color-dark-contrast: #ffffff;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;

  /** medium **/
  --color-medium: #989aa2;
  --color-medium-contrast: #ffffff;
  --color-medium-shade: #86888f;
  --color-medium-tint: #a2a4ab;

  /** light **/
  --color-light: #c0c9ff;
  --color-light-contrast: #000000;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;

  --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
  --box-shadow-hover: 0 5px 15px rgba(0, 0, 0, 0.30);
}