:root {
    --color-primary: #8B4513;
    /* Cramoisi */
    --color-primary-contrast: #FFFFFF;
    --color-primary-lighter: #9E5527;
    --color-primary-light: #B1683C;
    --color-primary-darker: #733912;
    --color-primary-dark: #5D2C0E;

    --color-secondary: #556B2F;
    /* Forêt */
    --color-secondary-contrast: #FFFFFF;
    --color-secondary-lighter: #6A833E;
    --color-secondary-light: #809B4D;
    --color-secondary-darker: #485924;
    --color-secondary-dark: #3C4B1C;

    --color-tertiary: #D2691E;
    /* Rouille */
    --color-tertiary-contrast: #FFFFFF;
    --color-tertiary-lighter: #E07F39;
    --color-tertiary-light: #EB8F55;
    --color-tertiary-darker: #B65A15;
    --color-tertiary-dark: #91460F;

    /** success **/
    --color-success: #4eb76e;
    --color-success-contrast: #ffffff;
    --color-success-tint: #28e070;
    --color-success-shade: #0ec254;

    /** warning **/
    --color-warning: #F4984F; // #ffce00;
    --color-warning-contrast: #ffffff;
    --color-warning-shade: #e0b500;
    --color-warning-tint: #ffd31a;

    /** danger **/
    --color-danger: #f04141;
    --color-danger-contrast: #ffffff;
    --color-danger-shade: #d33939;
    --color-danger-tint: #f25454;

    /** dark **/
    --color-dark: #252427;
    --color-dark-contrast: #ffffff;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #383a3e;

    /** medium **/
    --color-medium: #989aa2;
    --color-medium-contrast: #ffffff;
    --color-medium-shade: #86888f;
    --color-medium-tint: #a2a4ab;

    /** light **/
    --color-light: #c0c9ff;
    --color-light-contrast: #000000;
    --color-light-shade: #d7d8da;
    --color-light-tint: #f5f6f9;

    --box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 6px 12px rgba(0, 0, 0, 0.23);
    --box-shadow-hover: 0 5px 15px rgba(0, 0, 0, 0.30);
}